:root {
    /* Fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway";
    /* Text colors */
    --main-txt-cl: #212121;
    /* Background colors */
    --main-bg-cl: #2F303A;
    --accent-cl: #2196F3;
    /* transition */
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin:auto;
}
.body{
    color: var(--main-txt-cl);
    font-family: "Roboto";
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-2{
    padding-top: 0px;
    padding-bottom: 94px;
}
/* reset */
h1,h2,h3,h4,h5,h6,P{
    margin: 0;
}
img{
    display: block;
}
li{
    list-style-type: none;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.flex{
    display: flex;
    align-items: baseline;
}
/* Header */
.header-container{
    display: flex;
    align-items: center;
}
.top-line{
    z-index: 100;
    display: flex;
    align-items: center;
    margin-right: auto;
}
.link{
    text-decoration: none;
}
/* Navigation to other pages */
.logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    align-items: center;
    margin-right: 93px;
}
.logo-color{
    color: var(--accent-cl); 
}
.nav{
    margin:0;
    padding: 0;
    display: flex;
    gap: 50px;
}
.nav-list-item-studio{
    position: relative;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--accent-cl);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;    
    transition: color 250ms var(--timing-function);
}
.nav-list-item-studio:hover, 
.nav-list-item-studio:focus{
    color: var(--accent-cl);
}

.nav-list-item{
    position: relative;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color:var(--main-txt-cl);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color 250ms var(--timing-function);
}
.nav-list-item:hover, 
.nav-list-item:focus{
    color: var(--accent-cl);
}

.nav-list-item-studio::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 1%;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;

}
.nav-list-item.current::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 1%;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;

}
.current{
    color: var(--accent-cl);
}

.header-contacts{
    display: flex;
    gap: 50px;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.icon-mail{
    fill: currentColor;
    margin-right: 10px;
    align-items: center;
}
.mail{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
}
.mail:hover, 
.mail:focus{
    color: var(--accent-cl);
}

.icon-telephone{
    fill: currentColor;
    margin-right: 10px;
    align-items: center;
}
.telephone{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
}
.telephone:hover, 
.telephone:focus{
    color: var(--accent-cl);
}

/* Section 1 */
.first-section{
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px; 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/section-2/section-2bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.main-heading{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    font-style: normal;
    color: #FFFFFF;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.main-heading, .heading-pecularities{
    text-transform: uppercase;
}
.main-heading, .heading-2{
    text-align: center;
}
.main-btn{
    font-family: inherit;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #FFFFFF;
    background: var(--accent-cl);
    border-color:  var(--accent-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Section 2 */
.pecularities{
    padding-top: 94px;
    padding-bottom: 94px;
}
.second-section{
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 30px;
}
.second-section-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    height: 120px;
}
.pecularities-list{
    width: 270px;
}

.heading-pecularities{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 10px;
}
.text-pecularities{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}
/* Section 3 */
.heading-2{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 50px;
    text-align: center;
}
.occupation-photos{
    display: flex;
    gap: 30px;
    padding: 0px;
    margin: 0px;
}
.occupation-thumb{
    position: relative;

}
.overlay-occupation{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.occupation-description{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: auto;
}
/* Section 4 */
.our-team{
    background: #F5F4FA;
}
.staff-names{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    text-align: center;
    margin-bottom: 10px;
}
.positions{
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;

}
.team-photos{
    display: flex;
    gap: 30px;
    padding: 0px;
    margin: 0px;
}
.team-member{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.names-positions{
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-media-link{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0;
    margin: 0;

}
.social-link-team{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color:#AFB1B8;
    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.social-link-team:hover, 
.social-link-team:focus{
    background-color: var(--accent-cl);
    color: #FFFFFF;
}
.social-icon{
    fill: currentColor;
}
/* section 5 */

.client-list{
    display: flex;
    gap:30px;
    margin: 0;
    padding: 0;
}
.client-list-link{
    width: 170px;
    height: 92px;
}
.client-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4%;
    fill: #afb1b8;
    transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.client-link:hover, 
.client-link:focus{
    fill: #2196F3;
    border-color: #2196F3;
}

/* footer */
.logo-footer{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A; 
}
.adress-footer{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}
.contacts-footer{
    margin: 0px;
    padding: 0px;
}
.mail-telephone-footer:not(:last-child){
    margin-bottom: 9px;
}
.mail-footer{
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;   
    color: rgba(255, 255, 255, 0.6);
}
.telephone-footer{
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(14 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin: auto;
    padding: auto;
}
.footer-left{
    margin-right: 70px;
}
.footer-centre{
    
    margin-right: auto;
}
.join{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.join-list-link{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.social-link{
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    width: 100%;
    height: 100%;
    transition: background-color 250ms var(--timing-function);
}
.social-item{
    width: 44px;
    height: 44px;
}
.social-link:hover, 
.social-link:focus{

    background-color: var(--accent-cl);
}
.social-icon-footer{
    fill: #FFFFFF;
}
.footer-title{
    color: #FFFFFF;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;;
}
.footer-form {
    display: flex;
    gap: 12px;
}
.footer-subscribe-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
.button-send{
    display: block;
    margin-top: 30px;
    padding: 10px 32px;
    margin: 0 auto;
    font-family: inherit;
    background-color: var(--accent-cl);
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    min-width: 216px;
    align-items: center;
    letter-spacing: 0.06em;
}
.align {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* Portfolio */
.nav-list-item.active{
    color: var(--accent-cl);
}


.portfolio-projects{
    padding-top: 94px;
    padding-bottom: 94px;
}
.btns{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-left: 0px;
}
.portfolio-btn-main{
    padding: 6px 22px;
    color: var(--main-txt-cl);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
    border-color: #F5F4FA;
    cursor: pointer;
    transition: shadow 250ms var(--timing-function), box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.portfolio-btn-main:hover,
.portfolio-btn-main:focus{
    transition: shadow 250ms, box-shadow 250ms, background-color 250ms, var(--timing-function);
    background-color:  var(--accent-cl);
    color: #FFFFFF;
}
.portfolio-btns{
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-txt-cl);
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
    border-color: #F5F4FA;
    cursor: pointer;
    transition: shadow 250ms var(--timing-function), box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.portfolio-btns:hover,
.portfolio-btns:focus{
    transition: shadow 250ms var(--timing-function), box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
    background-color:  var(--accent-cl);
    color: #FFFFFF;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}
.portfolio-item{
    width: 370px;
    background: #FFFFFF;
    transition: 250ms var(--timing-function);
}
.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.link-portfolio-thumb{
    display: block;
}
.link-portfolio-thumb:hover,
.link-portfolio-thumb:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
.projects-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
    margin-bottom: 4px;
}
.projects-name{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}
.portfolio-thumb{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    
    top: 0;
    left: 0;
    
    transform: translateY(100%);
    transition: 250ms var(--timing-function);
    
    width: 100%;
    height: 100%;
    
    background: rgba(33, 150, 243, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 64px;
    padding-bottom: 64px;
    padding-right: 23px;
    padding-left: 23px;
}
.overlay-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.link-portfolio-thumb:hover .overlay{
    transform: translateY(0);
    transition: 250ms var(--timing-function);
}
.link-portfolio-thumb:focus .overlay{
    transform: translateY(0);
    transition: 250ms var(--timing-function);
}

/* Modal-window */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: visibility 250ms, opacity 250ms;

    background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 528px;
    height: 581px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-btn{
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    width: 32px;
    height: 32px;

    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    background-color: transparent;
    transition: fill 250ms var(--timing-function);
}
.modal-btn:hover,
.modal-btn:focus{
    fill: var(--accent-cl);
}
.form{
    position: relative;

    border-radius: 4px;
}
.form-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--main-txt-cl);
}
.form-label{
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;

}
.form-field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-input{
    height: 40px;
    padding-left: 30px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    transition: border-color 250ms var(--timing-function);
}
.form-field:focus-within .form-input,
.form-field:hover .form-input{
    border-color: var(--accent-cl);
}
.form-svg{
    position: absolute;
    fill: var(--main-txt-cl);
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
}
.form-field:hover .form-svg, 
.form-field:focus-within .form-svg {
    fill: var(--accent-cl);
}
.text-area{
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    outline: transparent;
    transition: border-color 250ms var(--timing-function);
}
.text-area:focus, 
.text-area:hover {
    border-color: var(--accent-cl);
}
.checkbox{
    appearance: none;
    position: absolute;
}
.icon-checked{
    fill: var(--accent-cl);
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
}
.form-checkbox:checked + .icon-checkbox .icon-checked{
    opacity: 1;
}
.icon-unchecked{
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}
.form-checkbox:checked + .icon-checkbox .icon-unchecked{
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
}
.conditions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 10px;
}
.conditions-descr {
    user-select: none;
    color: #757575;
}
.conditions-link {
    text-decoration: none;
    color: var(--accent-cl);
}
.button-serv{
    display: block;
    margin-top: 30px;
    padding: 10px 32px;
    margin: 0 auto;
    font-family: inherit;
    background-color: var(--accent-cl);
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    min-width: 216px;
    align-items: center;
    letter-spacing: 0.06em;
}


