.client__list{
    display: flex;
    gap:30px;
    margin: 0;
    padding: 0;
}
.client__list--link{
    width: 170px;
    height: 92px;
}
.client__list--icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4%;
    fill: #afb1b8;
    transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);

    &:hover, &:focus{
        fill: var(--accent-cl);
        border-color: var(--accent-cl);
    }
}